<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217093479961-lop152lu4ecu8e2h599ais9gbblo9eac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217093479961-lop152lu4ecu8e2h599ais9gbblo9eac</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>217093479961-fv1pnsj61rf2buvg4as2tlvaijlkfsct.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBapV5mU9qmUNOG9wwcT7L9gLtVe1RjFWw</string>
	<key>GCM_SENDER_ID</key>
	<string>217093479961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.pdms.app</string>
	<key>PROJECT_ID</key>
	<string>pdms-d541a</string>
	<key>STORAGE_BUCKET</key>
	<string>pdms-d541a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217093479961:ios:01cb6890312f0cd04f5488</string>
</dict>
</plist>