<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11199047545-5rvk49e8cd4tck3cduha312opb9398i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11199047545-5rvk49e8cd4tck3cduha312opb9398i9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11199047545-m24picfhe84ndjk5obe43kc6admb2h1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIfQUP1eyucWedwyzYBNWq92wmZsGdk9s</string>
	<key>GCM_SENDER_ID</key>
	<string>11199047545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agri.weatherbook</string>
	<key>PROJECT_ID</key>
	<string>weatherbook-223dc</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherbook-223dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11199047545:ios:4f3574272ae29df2</string>
	<key>DATABASE_URL</key>
	<string>https://weatherbook-223dc.firebaseio.com</string>
</dict>
</plist>